.main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
    height:50vh;
}


.main-header {
    color: #ff0000;
    padding-top: 10px;
    text-align: center;
    font-size: 30px;
}

a {
    text-decoration: none; /* Отменяем подчеркивание у ссылки */
}

.vl {
    display: flex;
    border-left: 3px solid black;
    min-height: 335px;
    margin-left: 50%;
}

.description_and_move {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.move {
    display: none;
    flex-direction: row;
    justify-content: center;
}

.left_button {
    padding-right: 1000px;
}

.input_first {
    width: 107px;
    margin-left: 10px;
}

.button_second {
    margin-right: 10px;
}

.input_second {
    width: 105px;
}

.line {
    display: none;
}

.container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.container1 {
    padding-right: 400px;
}

.container2 {
    padding-left: 400px;
}

.zatemnenie5 {
    background: rgba(102, 102, 102, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}
#okno5 {
    max-width: 500px;
    max-height: 122px;
    text-align: center;
    padding: 15px;
    border: 3px solid #0000cc;
    border-radius: 10px;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    background: #fff;
}

.close5 {
    display: inline-block;
    border: 1px solid #0000cc;
    margin-top: 50px;
    text-decoration: none;
    background: #f2f2f2;
    font-size: 14pt;
    cursor:pointer;
}

.close5:hover {background: #e6e6ff;}

@media screen and (max-width:472px){
    .close5 {
        margin-top: 25px;
    }
}



.centre_button {
    display: none;
    justify-content: center;
}

#canvas {
    max-width: 1300px;
    max-height: 200px;
}
 body {
     background: url("img/03.jpg") no-repeat;
     background-size:cover;
     display:-webkit-box;
     display:-ms-flexbox;
     display:flex;
     -webkit-box-orient:vertical;
     -webkit-box-direction:normal;
     -ms-flex-direction:column;
     flex-direction:column;
     font-family: 'Raleway', sans-serif;
 }




